body {
  background-color: aquamarine;
}

.panel {
  position: absolute;
  background-color: lightgoldenrodyellow;
  border: 8px solid burlywood;
  -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
  box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.header {
  left: 50%;
  top: 90px;
  height: 80px;
  width: 300px;
  margin-left: -120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text {
  font-size: 40px;
}

.header {
}

.footer {
  left: 50%;
  top: 750px;
  height: 80px;
  width: 300px;
  margin-left: -120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer button {
  margin-left: 5px;
  margin-top: 15px;
  width: 140px;
  height: 50px;
  background-color: lightblue;
  font-size: 20px;
  -webkit-shadow: 3px, 5px, 10px, 2px rgba(0, 0, 0, 0.9);
  box-shadow: 3px, 5px, 10px, 2px rgba(0, 0, 0, 0.9);
  border: 5px solid chocolate;
  font-weight: bold;
}

.footer button :hover {
  cursor: pointer;
}

.gameBoard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 20px;
  width: 520px;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 25%;
  background-color: bisque;
  border: 8px solid burlywood;
  border-radius: 8%;
  -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
  box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
}

.gameCircle {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
  border: 5px solid black;
}

.player_0 {
  background-color: white;
}

.player_1 {
  background-color: red;
}

.player_2 {
  background-color: blue;
}
